anthropic==0.102.0
asgiref==3.11.1
bcrypt==5.0.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==47.0.0
Django==5.1.15
django-allauth==65.16.1
django-environ==0.13.0
django-htmx==1.27.0
django-tailwind==4.4.2
freezegun==1.5.5
gunicorn==25.3.0
idna==3.13
iniconfig==2.3.0
oauthlib==3.3.1
packaging==26.2
pluggy==1.6.0
psycopg==3.3.4
psycopg-binary==3.3.4
pycparser==3.0
Pygments==2.20.0
PyJWT==2.12.1
pytailwindcss==0.3.0
pytest==9.0.3
pytest-django==4.12.0
pytest-mock==3.15.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.33.1
ruff==0.15.12
sentry-sdk==2.58.0
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.3
whitenoise==6.12.0
